/* กล้า */
.kla {
  width: 20vw;
  position: absolute;
  top: 5vw;
  right: 15vw;
}

@media (max-width: 1024px) {
  /* md */
  .kla {
    width: 20vw;
    right: 16vw;
  }
}

@media (max-width: 640px) {
  /* sm */
  .kla {
    width: 25vw;
    right: 5vw;
  }
}

/* บอร์ดี้การ์ด */
.bodyguard {
  width: 33vw;
  position: absolute;
  right: 7vw; /* ค่าพื้นฐานที่จอใหญ่สุด */
}

/* จาก 1690px ลงมา */
@media (max-width: 1690px) {
  .bodyguard {
    right: 6vw;
  }
}

@media (max-width: 1280px) {
  .bodyguard {
    right: 8vw;
  }
}

@media (max-width: 1024px) {
  .bodyguard {
    right: 6.5vw;
  }
}

@media (max-width: 768px) {
  .bodyguard {
    right: 1vw;
  }
}

@media (max-width: 640px) {
  .bodyguard {
    right: 12vw;
  }
}
