/* กล้า */
.kla {
  width: 36vw;
  position: absolute;
  top: 8vw;
  right: 10vw;
}

@media (max-width: 1024px) {
  /* md */
  .kla {
    width: 20vw;
    right: 16vw;
  }
}

@media (max-width: 640px) {
  /* sm */
  .kla {
    width: 25vw;
    right: 5vw;
  }
}

/* บอร์ดี้การ์ด */
.bodyguard {
  width: 33vw;
  position: absolute;
  right: 10vw; /* ค่าพื้นฐานที่จอใหญ่สุด */
  top: 8.5vw;
}
/* จาก 1690px ลงมา */
/* @media (min-width: 1690px) {
  .bodyguard {
    top: 3vw;
    right: 6vw;
  }
} */
@media (max-width: 1690px) {
  .bodyguard {
    top: 3vw;
    right: 6vw;
  }
}

@media (max-width: 1280px) {
  .bodyguard {
    right: 8vw;
  }
}

@media (max-width: 1024px) {
  .bodyguard {
    right: 6.5vw;
  }
}

@media (max-width: 768px) {
  .bodyguard {
    right: 1vw;
  }
}

@media (max-width: 640px) {
  .bodyguard {
    right: 12vw;
  }
}

/* owner */
.owner {
  width: 36vw;
  position: absolute;
  top: 6vw;
  right: 9vw;
}

@media (max-width: 1024px) {
  /* md */
  .owner {
    width: 20vw;
    right: 16vw;
  }
}

@media (max-width: 640px) {
  /* sm */
  .owner {
    width: 25vw;
    right: 5vw;
  }
}

/* monster */
.monster {
  width: 30vw;
  position: absolute;
  right: 10vw;
  top: 8vw;
}

/* จาก 1690px ลงมา */
/* @media (min-width: 1690px) {
  .monster {
    top: 3vw;
    right: 6vw;
  }
} */
@media (max-width: 1690px) {
  .monster {
    top: 3vw;
    right: 6vw;
  }
}

@media (max-width: 1280px) {
  .monster {
    right: 8vw;
  }
}

@media (max-width: 1024px) {
  .monster {
    right: 6.5vw;
  }
}

@media (max-width: 768px) {
  .monster {
    right: 1vw;
  }
}

@media (max-width: 640px) {
  .monster {
    right: 12vw;
  }
}
