* {
  font-family: "iannnnn-OWL";
}

.logosvg {
  & img {
    width: 96px;
    height: 46px;
  }
}
@media (max-width: 1920px) {
  .main_section {
    top: 4vw;
  }
}
@media (max-width: 1620px) {
  .main_section {
    top: 2vw;
  }
}

/* สำหรับหน้าจอ < 1440px (lg) */
@media (max-width: 1440px) {
  .shamanlogo {
    width: 42vw;
  }
  .content_hero {
    margin-top: 15vw;
  }
  .content_hero p {
    font-size: 16px;
  }
  .bt_sharman {
    margin-top: 1.3vw;
  }
  .buttonPlay {
    font-size: 16px;
    padding: 12px 65px;
  }

  .Head_storytext {
    font-size: 100px;
  }
  .main_section {
    top: 3vw;
    left: 16vw;
  }
}

@media (max-width: 1420px) {
  .main_section {
    top: 2vw;
  }
  .content_textChar {
    line-height: 36px;
  }
}

/* สำหรับหน้าจอ < 1290px (md) */
@media (max-width: 1290px) {
  .canvas_hero {
    height: 33vw;
  }
  .shamanlogo {
    width: 38vw;
  }
  .buttonPlay {
    font-size: 16px;
    padding: 10px 60px;
  }
  .bt_sharman {
    margin-top: 1.2vw;
    margin-bottom: 1.5vw;
  }
  .content_hero {
    margin-top: 15.5vw;
  }
  .content_textChar {
    font-size: 18px;
    line-height: 32px;
  }
  .Head_name {
    font-size: 66px;
  }
  .main_section {
    top: 3vw;
  }
  .Head_storytext {
    font-size: 80px;
  }
}

@media (max-width: 1059px) {
  .buttonPlay {
    font-size: 16px;
    padding: 5px 50px;
  }
  .content_text {
    font-size: 16px;
  }
  .dagerousP {
    font-size: 18px;
  }
}

@media (max-width: 990px) {
  .content_hero p {
    font-size: 14px;
  }
  .content_hero {
    margin-top: 18vw;
  }
  .canvas_hero {
    height: 28vw;
  }
  .Head_storytext {
    font-size: 56px;
  }
  .Head_name {
    font-size: 40px;
  }
  .content_textChar {
    font-size: 16px;
    line-height: 28px;
  }
  .bt_sharman {
    margin-top: 1vw;
  }
  .buttonPlay {
    padding: 5px 45px;
  }
}
@media (max-width: 836px) {
  .shamanlogo {
    width: 30vw;
  }
}
@media (max-width: 789px) {
  .content_summary {
    padding-left: 8vw;
  }
  .canvas_hero {
    height: 22vw;
  }
  .main_section {
    left: 13vw;
  }
  .content_hero p {
    font-size: 12px;
  }
  .buttonPlay {
    font-size: 12px;
    padding: 4px 30px;
  }
  .bt_sharman {
    margin-bottom: 2vw;
  }
}
/* "right-[12vw] sm:rigเht-[5vw] md:right-[22vw] lg:right-[8vw] xl:right-[10vw] 2xl:right-[15vw]", // ตำแหน่ง right */
