@import "tailwindcss";

@font-face {
  font-family: "iannnnn-OWL";
  src: url("../public//fonts/Myfont/iannnnnOWL-Thin.woff2") format("woff2"),
    url("../public/fonts/Myfont/iannnnnOWL-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iannnnn-OWL";
  src: url("../public//fonts/Myfont/iannnnnOWL-Bold.woff2") format("woff2"),
    url("../public//fonts/Myfont/iannnnnOWL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iannnnn-OWL";
  src: url("../public//fonts/Myfont/iannnnnOWL-Regular.woff2") format("woff2"),
    url("../public//fonts/Myfont/iannnnnOWL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 200px 150px;
  column-gap: 30px;
  row-gap: 10px;
  border: 1px solid red;
}
.item {
  background-color: darkorange;
} */
