@import "tailwindcss";
/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 200px 150px;
  column-gap: 30px;
  row-gap: 10px;
  border: 1px solid red;
}
.item {
  background-color: darkorange;
} */
