@import "tailwindcss";

@font-face {
  font-family: "iannnnn-OWL";
  src: url("../public//fonts/Myfont/iannnnnOWL-Thin.woff2") format("woff2"),
    url("../public/fonts/Myfont/iannnnnOWL-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iannnnn-OWL";
  src: url("../public//fonts/Myfont/iannnnnOWL-Bold.woff2") format("woff2"),
    url("../public//fonts/Myfont/iannnnnOWL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iannnnn-OWL";
  src: url("../public//fonts/Myfont/iannnnnOWL-Regular.woff2") format("woff2"),
    url("../public//fonts/Myfont/iannnnnOWL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
* {
  box-sizing: border-box;
  /* font-family: ""; */
}
body {
  background: none;
  min-height: 100vh;
  overflow-x: hidden;
}
